<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stepper iOS Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D621031F1F8CACD400341790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D62103331F8CACD500341790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D621033E1F8CACD500341790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
